# pip3 install -U -r requirements.txt
# conda install numpy opencv matplotlib scikit-image tqdm && conda install -c conda-forge robobrowser
opencv-python
matplotlib
numpy
requests
scikit-image
tqdm
robobrowser
